stages:
  - build

build_app:
  stage: build
  only:
    - master
  before_script:
    - echo APP_DIR=/var/www/FlaskApp/FlaskApp
    - APP_DIR=/home/defsin
  script:
    - cat ${KIK_RSA} > tmp
    - ssh -o "StrictHostKeyChecking no" -i ./tmp ${SERVER_USER}@${SERVER_IP} ${APP_DIR}/down.sh
    - scp -o "StrictHostKeyChecking no" -i ./tmp ./* ${SERVER_USER}@${SERVER_IP}:${APP_DIR}/testkik
    - ssh -o "StrictHostKeyChecking no" -i ./tmp ${SERVER_USER}@${SERVER_IP} ${APP_DIR}/up.sh